.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  background: rgb(35,85,169);
}
.header a{
  text-decoration: none;
  color: white;
}
.header span{
  padding: 5px;
  display: inline-block;
}
.header .active{
  background-color: rgb(12,48,109);
  border-bottom: solid white;
}

.sub-menu{
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.sub-menu{
  text-decoration: none;
  color: white;
}
.sub-menu span{
  padding: 5px;
  display: inline-block;
  background: darkgrey;
  color: white;

}
.sub-menu .active span{
  background: rgb(12, 48, 109);
}